In [75]:
import pandas as pd
import emoji

In [89]:
## Pandas is used here to transformations to the given dataset.
## emoji is used here to replace emoji with their corresponding wordings

In [76]:
cleaned_df=pd.read_csv("Data\Reddit Sentiment Analysis.csv",encoding='utf-8')

In [77]:
cleaned_df.count()

id               400
subreddit        400
submission_id    400
comment_body     400
score              0
dtype: int64

In [78]:
cleaned_df.head()

,id,subreddit,submission_id,comment_body,score
0,jbnq5e9,reddevils,11nl59m,He was clearly signaling for a substitution. P...,NaN
1,jbnpoh0,reddevils,11nl59m,I'll never forget Bruno standing behind Ole wh...,NaN
2,jbnoo3x,reddevils,11nl59m,That is such a Wout goal (even though he hasn’...,NaN
3,jbnpdfj,reddevils,11nl59m,I hope Pellistri gets more game time. I think ...,NaN
4,jbnvnr2,reddevils,11nl59m,I love Bruno. \n\nGenuinely can’t believe the ...,NaN

In [79]:
cleaned_df.shape

(400, 5)

In [80]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             400 non-null    object
 1   subreddit      400 non-null    object
 2   submission_id  400 non-null    object
 3   comment_body   400 non-null    object
 4   score          0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 15.8+ KB

In [81]:
cleaned_df.describe()

       score
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [82]:
cleaned_df.drop(columns=['score'],inplace=True)

In [90]:
##Droping the score column as the entire column is empty

In [83]:
cleaned_df.head(2)

,id,subreddit,submission_id,comment_body
0,jbnq5e9,reddevils,11nl59m,He was clearly signaling for a substitution. P...
1,jbnpoh0,reddevils,11nl59m,I'll never forget Bruno standing behind Ole wh...

In [84]:
duplicate_rows=cleaned_df.duplicated()

In [91]:
## Check if there are any duplicated rows presetn so that we eliminate them

In [85]:
duplicate_rows.sum()

0

In [86]:
cleaned_df = cleaned_df[~cleaned_df['comment_body'].str.contains(r"https?://", regex=True)]

In [92]:
##removing the rows that contains the hyperlink as they create ambiguity in the process of sentiment analysis without knowing their context

In [87]:
cleaned_df['comment_body']=cleaned_df['comment_body'].apply(lambda x: emoji.demojize(x))

In [93]:
## Replacing emoji with their wordings

In [88]:
cleaned_df.to_csv("Data\Cleaned_Reddit_Sentiment_Analysis.csv",index=False)